* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  padding: 20px;
}

p {
  font-size: 10px;
}

.container {
  height: 100vh;
  border: solid seagreen 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-total {
  display: flex;
  border: solid 1px;
  background-color: antiquewhite;
  padding: 20px;
  height: auto;
  border-radius: 10px;
}
